* {
  box-sizing: border-box;
  letter-spacing: 1px;
  transition: 0.5s;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.mainHeader {
  height: 100vh;
  min-height: 550px;
  position: relative;
  overflow: hidden;
}
.navbar__logo {
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 26px;
  color: darkblue;
  z-index: 2;
  white-space: nowrap;
}
.navbar-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 7;
  height: 75px;
  display: flex;
  align-items: center;
}
.navbar-white {
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}

.navbar__nav {
  display: flex;
  align-items: center;
  z-index: 2;
}

.navbar__navs {
  list-style: none;
  font-size: 20px;
  cursor: pointer;
  /* position: relative; */
  position: relative;
  white-space: nowrap;
}
.dnone {
  text-decoration: none;
  color: rgb(0, 112, 112);
  letter-spacing: 1px;
}

.navbar__navs:hover {
}

.navbar__navs + .navbar__navs {
  margin-left: 20px;
}

.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1500px;
}

.navbar__navs:after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  width: 0;
  bottom: -8px;
  background: darkblue;
  height: 2px;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.navbar__navs:hover:after {
  left: 0;
  right: auto;
  width: 100%;
}

.video {
  height: 80vh;
  width: 100%;
  max-height: max-content;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  /* background-color:rgba(50, 255, 255, 0.651); */
  /* background-color: black; */
  animation: fadein 8s 1;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    background-color: black;
  }
  to {
    background-color: rgba(63, 63, 71, 0.5);
  }
}

.video__video {
  transform: translateY(-300px);

  animation: fadein_v 4s 1;
  animation-fill-mode: forwards;
}
@keyframes fadein_v {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
.video__profil {
  border-radius: 50%;
  width: 100%;
}

.video__wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: wheat;
  border-radius: 50%;
  border: darkblue 0.5px solid;
  z-index: 1;
  bottom: 450px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* .video__fader{

    width: 100%;
    height: 60vh;
    background-color: rgb(19, 18, 18);

    z-index: 500;

  } */

.video__writing {
  color: ghostwhite;
  font-style: italic;
  font-size: 24px;
}
.slid {
  width: 100%;
  height: 500px;
  background: url("https://azertag.az/files/galleryphoto/2020/3/1000x669/16010260061844830939_1000x669.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.slid1 {
  width: 100%;
  height: 500px;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/IELTS_logo.svg/1200px-IELTS_logo.svg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.slid2 {
  width: 100%;
  height: 500px;
  background: url("http://d39raawggeifpx.cloudfront.net/styles/16_9_desktop/s3/articleimages/socartower1%20Cropped.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.slid3 {
  width: 100%;
  height: 500px;
  background: url("https://static.wixstatic.com/media/50b774_7148e9bb84e04e4fb77a11ca94709cac~mv2.jpg/v1/fit/w_2500,h_1330,al_c/50b774_7148e9bb84e04e4fb77a11ca94709cac~mv2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.slid4 {
  width: 100%;
  height: 500px;
  background: url("https://thumbs.dreamstime.com/z/monitor-closeup-function-source-code-abstract-background-desktop-pc-photo-web-site-codes-computer-mon-127601204.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.slid__content {
  width: 100%;
  height: 100%;
  background-color: rgba(119, 121, 206, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slid__header1 {
  margin-bottom: 35px;
  transition: 3s;
}
.slid__header {
  color: darkblue;
  font-size: 30px;
  text-align: center;
  transition: 3s;
}
.color {
  color: red !important;
}
.slid__p {
  color: darkblue;
  font-size: 20px;
  text-align: center;
  transition: 5s;
}

.slid__p2 {
  color: white;
  font-size: 20px;
  text-align: center;
  transition: 3s;
}

.slid__main {
  transition: 2s;
  width: 900px;
  background-color: rgba(0, 0, 0, 0.75);
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;
}

.slid__main-sp {
  transition: 2s;
  width: 900px;
  background-color: rgba(0, 0, 0, 0.75);
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;
}
.d-none {
  opacity: 0;
}
.d-none1 {
  opacity: 0;
}
.d-none2 {
  opacity: 0;
}

.d-none4 {
  opacity: 0;
}
.d-none3 {
  opacity: 0;
}
.visible {
  opacity: 1 !important;
}
.visible1 {
  opacity: 1 !important;
}
.visible2 {
  opacity: 1 !important;
}
.visible3 {
  opacity: 1 !important;
}

.visible4 {
  opacity: 1 !important;
}
.hobbies {
  margin-top: 50px;
}

.hobbies__basliq {
  text-align: center;
  font-size: 30px;
  color: darkblue;
}
.hobbies__text {
  text-align: center;
  font-size: 20px;
  color: rgb(61, 61, 61);
}
.contact {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  border-top: darkblue 0.5px solid;
  border-bottom: darkblue 0.5px solid;
  background-image: linear-gradient(
    to bottom right,
    rgba(119, 121, 206, 0.651),
    rgb(31, 98, 221)
  );
}
.contact__header {
  text-align: center;
  font-size: 30px;
  color: darkblue;
}
.contact__main {
  display: flex;
  justify-content: space-around;
}

.contact__text {
  font-size: 20px;
  color: rgb(61, 61, 61);
}

.contact__social {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.mx-10 {
  margin-right: 20px;
  margin-left: 20px;
}

.iconundivi {
  width: 50px;
  height: 50px;
  background-color: darkblue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.fab {
  font-size: 30px;
  color: white;
}

.tooltip {
  position: relative;
  border-bottom: 1px solid black;
}

.tooltip .tooltiptext {
  opacity: 0;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 117%;
  left: -14%;
  height: 50px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}
.updown {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 30%;
  right: 5%;
}
.upup {
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: black; */
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 5;
  font-size: 50px;
  cursor: pointer;
}

.down {
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: black; */
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 5;
  font-size: 50px;
  cursor: pointer;
}
.invisible {
  opacity: 0 !important;
}

.visiblee {
  opacity: 1;
}
.dis-none {
  display: none;
}

.navbar2__x {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navbar2__xi {
  color: white;
  font-size: 40px;
  margin: 10px;
}
.navbar2 {
  background-color: rgb(19, 17, 17);
  width: 0;
  height: 100vh;
  position: fixed;
  transition: 2000 !important;
  z-index: 9;
  overflow: hidden;
}
.navbar2__hi {
  color: white;
  font-size: 40px;
  z-index: 10;
  color: rgb(109, 109, 109);
}
.navbar2__hamburger {
  position: fixed;
  top: 30px;
  left: 20px;
  z-index: 10;

  /* margin: 10px; */
}
.text-white {
  color: rgb(230, 227, 227);
}

.text-active {
  color: darkblue !important;
}

.mainHeader__keep {
  position: relative;
  top: -1500px;
  left: 700px;
  color: white;
  font-size: 100px;
  font-weight: 100;
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 6px;
  margin: 0;
  padding: 0;
  width: max-content;
}

.keepAnim {
  animation: keep 1s 1;
  animation-fill-mode: forwards;
}
@keyframes keep {
  0% {
    top: -1500px;
  }
  30% {
    top: -678px;
  }

  45% {
    top: -710px;
  }
  75% {
    top: -678px;
  }

  88% {
    top: -690px;
  }
  100% {
    top: -678px;
  }
}

.mainHeader__just {
  position: relative;
  top: -688px;
  left: -700px;
  color: white;
  font-size: 100px;
  font-weight: 100;
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 6px;
  margin: 0;
  padding: 0;
  width: max-content;
}

.justAnim {
  animation: just 2s 1;
  animation-fill-mode: forwards;
}

@keyframes just {
  0% {
    left: -700px;
  }

  50% {
    left: 2700px;
  }
  100% {
    left: 700px;
  }
}

.mainHeader__scroll {
  position: relative;
  top: -691px;
  color: black;
  width: min-content;
  left: 700px;
}

.mainHeader__alph {
  position: absolute;
  font-size: 100px;
  font-weight: 100;
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 6px;
  margin: 0;
  padding: 0;
  width: max-content;
}

.S {
  left: -1700px;
}
.C {
  right: -1700px;
}

.C_anim {
  animation: c 0.1s 1;
  animation-fill-mode: forwards;
}

@keyframes c {
  0% {
    right: -1700px;
  }

  100% {
    right: -120px;
  }
}

.R {
  right: -1700px;
}

.R_anim {
  animation: r 0.1s 1;
  animation-fill-mode: forwards;
}

@keyframes r {
  0% {
    right: -1700px;
  }

  100% {
    right: -187px;
  }
}

.O {
  right: -1700px;
}

.O_anim {
  animation: o 0.1s 1;
  animation-fill-mode: forwards;
}

@keyframes o {
  0% {
    right: -1700px;
  }

  100% {
    right: -244px;
  }
}
.L {
  right: -1700px;
}

.L_anim {
  animation: l 0.1s 1;
  animation-fill-mode: forwards;
}

@keyframes l {
  0% {
    right: -1700px;
  }

  100% {
    right: -301px;
  }
}

.L2 {
  right: -1700px;
}

.L2_anim {
  animation: l2 0.1s 1;
  animation-fill-mode: forwards;
}

@keyframes l2 {
  0% {
    right: -1700px;
  }

  100% {
    right: -358px;
  }
}

.I {
  right: -1700px;
}

.I_anim {
  animation: i 0.1s 1;
  animation-fill-mode: forwards;
}

@keyframes i {
  0% {
    right: -1700px;
  }

  100% {
    right: -400px;
  }
}

.N {
  right: -1700px;
}

.N_anim {
  animation: n 0.1s 1;
  animation-fill-mode: forwards;
}

@keyframes n {
  0% {
    right: -1700px;
  }

  100% {
    right: -470px;
  }
}

.G {
  right: -1700px;
}

.G_anim {
  animation: g 0.1s 1;
  animation-fill-mode: forwards;
}

@keyframes g {
  0% {
    right: -1700px;
  }

  100% {
    right: -538px;
  }
}

.S_anim {
  animation: s 0.2s 1;
  animation-fill-mode: forwards;
}

@keyframes s {
  0% {
    left: -1700;
  }

  100% {
    left: 0;
  }
}

.mainHeader__r {
  animation: rr 0.2s 1;
  animation-fill-mode: forwards;
}
@keyframes rr {
  0% {
    left: 700px;
  }

  100% {
    left: 670px;
  }
}

.mainHeader__o {
  animation: oo 0.2s 1;
  animation-fill-mode: forwards;
}
@keyframes oo {
  0% {
    left: 670px;
  }

  100% {
    left: 640px;
  }
}

.mainHeader__l {
  animation: ll 0.2s 1;
  animation-fill-mode: forwards;
}
@keyframes ll {
  0% {
    left: 640px;
  }

  100% {
    left: 610px;
  }
}

.mainHeader__l2 {
  animation: l22 0.2s 1;
  animation-fill-mode: forwards;
}
@keyframes l22 {
  0% {
    left: 610px;
  }

  100% {
    left: 580px;
  }
}

.mainHeader__i {
  animation: ii 0.2s 1;
  animation-fill-mode: forwards;
}
@keyframes ii {
  0% {
    left: 580px;
  }

  100% {
    left: 550px;
  }
}

.mainHeader__n {
  animation: nn 0.2s 1;
  animation-fill-mode: forwards;
}
@keyframes nn {
  0% {
    left: 550px;
  }

  100% {
    left: 520px;
  }
}

.mainHeader__g {
  animation: gg 0.2s 1;
  animation-fill-mode: forwards;
}
@keyframes gg {
  0% {
    left: 520px;
  }

  100% {
    left: 480px;
  }
}

.mainHeader__s {
  animation: ss 0.2s 1;
  animation-fill-mode: forwards;
}
@keyframes ss {
  0% {
    left: 480px;
  }

  100% {
    left: 720px;
  }
}

@media only screen and (max-width: 1250px) {
  .mainHeader__scroll {
    position: relative;
    top: -691px;
    color: black;
    width: min-content;
    left: 430px;
  }

  .mainHeader__r {
    animation: rr 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes rr {
    0% {
      left: 430px;
    }

    100% {
      left: 415px;
    }
  }

  .mainHeader__o {
    animation: oo 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes oo {
    0% {
      left: 415px;
    }

    100% {
      left: 400px;
    }
  }

  .mainHeader__l {
    animation: ll 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes ll {
    0% {
      left: 400px;
    }

    100% {
      left: 385px;
    }
  }

  .mainHeader__l2 {
    animation: l22 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes l22 {
    0% {
      left: 385px;
    }

    100% {
      left: 360px;
    }
  }

  .mainHeader__i {
    animation: ii 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes ii {
    0% {
      left: 360px;
    }

    100% {
      left: 345px;
    }
  }

  .mainHeader__n {
    animation: nn 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes nn {
    0% {
      left: 345px;
    }

    100% {
      left: 330px;
    }
  }

  .mainHeader__g {
    animation: gg 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes gg {
    0% {
      left: 330px;
    }

    100% {
      left: 315px;
    }
  }

  .mainHeader__s {
    animation: ss 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes ss {
    0% {
      left: 315px;
    }

    100% {
      left: 430px;
    }
  }
}

@media only screen and (max-width: 950px) {
  .video__wrapper {
    width: 400px;
    height: 400px;

    bottom: 350px;
  }
  .slid__main {
    width: 90%;
    min-width: 250px;
  }

  .slid__main-sp {
    width: 90%;
    min-width: 250px;
  }

  .mainHeader__just {
    font-size: 70px;
  }

  .mainHeader__keep {
    left: 412px;

    font-size: 70px;
    font-weight: 100;
  }

  .keepAnim {
    animation: keep 1s 1;
    animation-fill-mode: forwards;
  }
  @keyframes keep {
    0% {
      top: -1500px;
    }
    30% {
      top: -526px;
    }

    45% {
      top: -546px;
    }
    75% {
      top: -526px;
    }

    88% {
      top: -536px;
    }
    100% {
      top: -526px;
    }
  }

  .mainHeader__just {
    top: -508px;
    left: -700px;
  }

  .justAnim {
    animation: just 2s 1;
    animation-fill-mode: forwards;
  }

  @keyframes just {
    0% {
      left: -700px;
    }

    50% {
      left: 2700px;
    }
    100% {
      left: 412px;
    }
  }

  .mainHeader__scroll {
    z-index: 8;
    position: relative;
    top: -520px;
    color: black;
    width: min-content;
    left: 35px;
  }

  .mainHeader__r {
    animation: rr 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes rr {
    0% {
      left: 35px;
    }

    100% {
      left: 30px;
    }
  }

  .mainHeader__o {
    animation: oo 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes oo {
    0% {
      left: 30px;
    }

    100% {
      left: 25px;
    }
  }

  .mainHeader__l {
    animation: ll 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes ll {
    0% {
      left: 25px;
    }

    100% {
      left: 20px;
    }
  }

  .mainHeader__l2 {
    animation: l22 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes l22 {
    0% {
      left: 20px;
    }

    100% {
      left: 15px;
    }
  }

  .mainHeader__i {
    animation: ii 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes ii {
    0% {
      left: 15px;
    }

    100% {
      left: 10px;
    }
  }

  .mainHeader__n {
    animation: nn 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes nn {
    0% {
      left: 10px;
    }

    100% {
      left: 5px;
    }
  }

  .mainHeader__g {
    animation: gg 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes gg {
    0% {
      left: 5px;
    }

    100% {
      left: 0;
    }
  }

  .mainHeader__s {
    animation: ss 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes ss {
    0% {
      left: 0;
    }

    100% {
      left: 35px;
    }
  }

  .mainHeader__alph {
    font-size: 70px;
    letter-spacing: 43px;
  }

  @keyframes c {
    0% {
      right: -1700px;
    }

    100% {
      right: -120px;
    }
  }

  @keyframes r {
    0% {
      right: -1700px;
    }

    100% {
      right: -172px;
    }
  }

  @keyframes o {
    0% {
      right: -1700px;
    }

    100% {
      right: -223px;
    }
  }

  @keyframes l {
    0% {
      right: -1700px;
    }

    100% {
      right: -260px;
    }
  }

  @keyframes l2 {
    0% {
      right: -1700px;
    }

    100% {
      right: -300px;
    }
  }

  @keyframes i {
    0% {
      right: -1700px;
    }

    100% {
      right: -339px;
    }
  }

  @keyframes n {
    0% {
      right: -1700px;
    }

    100% {
      right: -393px;
    }
  }

  @keyframes g {
    0% {
      right: -1700px;
    }

    100% {
      right: -445px;
    }
  }

  @keyframes s {
    0% {
      left: -1700;
    }

    100% {
      left: 0;
    }
  }
}

@media only screen and (max-width: 770px) {
  .navbar-container {
    display: none;
  }
  .navbar2 {
    display: block;

    transition: 0.5s;
  }
  .navbar__logo {
    margin-left: 10px;
  }
  .navbar2__hamburger {
    display: block;
  }

  .navbar__nav {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    margin-top: 45px;
  }
  .dnone {
    color: white;
    font-size: 25px;
  }

  .navbar__navs {
    margin: 0px 0px 10px 0px !important ;
  }
  .navbar__navs:after {
    display: none;
  }

  .text-active {
    color: rgb(114, 111, 111) !important;
  }
}

@media only screen and (max-width: 600px) {
  .slid__main-sp2 {
    align-items: flex-start;
  }
  .contact__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .video__wrapper {
    width: 300px;
    height: 300px;
    bottom: 250px;
    overflow: hidden;
  }

  .contact__main {
    flex-direction: column;
    align-items: center;
  }
  .mainHeader {
    overflow: hidden;
  }

  .slid__main {
    width: 100%;
    overflow-y: scroll;
  }

  .slid__main-sp {
    width: 100%;
    overflow-y: scroll;
    align-items: flex-start;
  }

  .mainHeader__keep {
    left: 100px;

    font-size: 50px;
    font-weight: 100;
  }

  .keepAnim {
    animation: keep 1s 1;
    animation-fill-mode: forwards;
  }
  @keyframes keep {
    0% {
      top: -1500px;
    }
    30% {
      top: -638px;
    }

    45% {
      top: -658px;
    }
    75% {
      top: -638px;
    }

    88% {
      top: -648px;
    }
    100% {
      top: -638px;
    }
  }

  .mainHeader__just {
    top: -650px;
    left: -700px;
    font-size: 50px;
  }

  .justAnim {
    animation: just 2s 1;
    animation-fill-mode: forwards;
  }

  @keyframes just {
    0% {
      left: -700px;
    }

    50% {
      left: 2700px;
    }
    100% {
      left: 100px;
    }
  }

  .mainHeader__scroll {
    z-index: 8;
    position: relative;
    top: -352px;
    color: black;
    width: min-content;
    left: 35px;
  }

  .mainHeader__r {
    animation: rr 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes rr {
    0% {
      left: 35px;
    }

    100% {
      left: 30px;
    }
  }

  .mainHeader__o {
    animation: oo 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes oo {
    0% {
      left: 30px;
    }

    100% {
      left: 25px;
    }
  }

  .mainHeader__l {
    animation: ll 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes ll {
    0% {
      left: 25px;
    }

    100% {
      left: 20px;
    }
  }

  .mainHeader__l2 {
    animation: l22 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes l22 {
    0% {
      left: 20px;
    }

    100% {
      left: 15px;
    }
  }

  .mainHeader__i {
    animation: ii 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes ii {
    0% {
      left: 15px;
    }

    100% {
      left: 10px;
    }
  }

  .mainHeader__n {
    animation: nn 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes nn {
    0% {
      left: 10px;
    }

    100% {
      left: 5px;
    }
  }

  .mainHeader__g {
    animation: gg 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes gg {
    0% {
      left: 5px;
    }

    100% {
      left: 0;
    }
  }

  .mainHeader__s {
    animation: ss 0.2s 1;
    animation-fill-mode: forwards;
  }
  @keyframes ss {
    0% {
      left: 0;
    }

    100% {
      left: 35px;
    }
  }

  .mainHeader__alph {
    font-size: 50px;
    letter-spacing: 43px;
  }

  @keyframes c {
    0% {
      right: -1700px;
    }

    100% {
      right: -100px;
    }
  }

  @keyframes r {
    0% {
      right: -1700px;
    }

    100% {
      right: -134px;
    }
  }

  @keyframes o {
    0% {
      right: -1700px;
    }

    100% {
      right: -170px;
    }
  }

  @keyframes l {
    0% {
      right: -1700px;
    }

    100% {
      right: -195px;
    }
  }

  @keyframes l2 {
    0% {
      right: -1700px;
    }

    100% {
      right: -222px;
    }
  }

  @keyframes i {
    0% {
      right: -1700px;
    }

    100% {
      right: -242px;
    }
  }

  @keyframes n {
    0% {
      right: -1700px;
    }

    100% {
      right: -277px;
    }
  }

  @keyframes g {
    0% {
      right: -1700px;
    }

    100% {
      right: -312px;
    }
  }

  @keyframes s {
    0% {
      left: -1700;
    }

    100% {
      left: 0;
    }
  }
}

@media only screen and (max-width: 340px) {
  .slid__main-sp3 {
    align-items: flex-start;
  }
  .video__wrapper {
    left: -10px;
  }
  .navbar2__x {
    justify-content: flex-start;
  }

  .slid__main-sp {
    height: 300px;
  }

  .slid2 {
    height: 550px;
  }
}
